.milk-tea {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
	border-radius: 0.4rem;
	color: #232323;

	&__left {
		display: flex;
		gap: 1.6rem;
		// font-size: 1.4rem;
		line-height: 2.2rem;
	}

	input[type='number'] {
		width: 4.2rem;
	}
}

.milk-teas {
	// height: 100%;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2.4rem;
	max-width: 748px;
	margin: auto;
}

.order-btn {
	margin-left: auto;
	// float: right;
	width: 120px;
	height: 44px;
	line-height: 44px;
	border-radius: 0.4rem;
	padding: 0 24px;
	text-align: center;
	// font-size: 1.4rem;
	color: #232323;
	background-color: #df5325;
	border: none;
	cursor: pointer;
}

.icon-cart {
	font-size: 2rem;
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		color: rgb(57, 226, 86);
	}
}

.cart {
	color: white;
}

.cart-modal {
	position: fixed;
	top: 5.2rem;
	right: 3.2rem;
	width: 300px;
	background-color: white;
	color: #232323;
	border-radius: 0.6rem;
	padding: 0 2.4rem;
	&__title {
		font-size: 2rem;
		text-align: center;
		padding: 2.4rem 0;
	}
	ul {
		overflow-y: scroll;
	}
}

.form-order {
	display: flex;
	background-color: white;
	padding: 1.6rem;
	flex-direction: column;
	gap: 2.4rem;
	// align-items: center;

	.form-control {
		label {
			font-size: 1.4rem;
			flex-basis: 10rem;
		}
		display: flex;
		gap: 1.6rem;
		align-items: center;
		input {
			flex-grow: 0.5;
			height: 32px;
			line-height: 32px;
			padding: 0.5rem 1.2rem;
			border-radius: 0.4rem;
			border-width: 1px;
		}
	}
	button {
		width: 120px;
		height: 32px;
		line-height: 32px;
		padding: 0 24px;
		background-color: #232323;
		color: white;
	}
}

