*,
*::before,
*::after {
	// padding: 0;
	// margin: 0;
}

ul {
	padding: 0;
}
@import 'utilities.styles';
@import 'layout.styles';
@import 'milkTea.styles';

:root {
	font-size: 62.5%;
	// font-size: 10px;
}

body {
	background-color: #001f3f;
	font-size: 1.6rem;
}

.container {
	display: flex;
	height: 100vh;
	flex-direction: column;
	// justify-content: space-between;
}

