.container {
	max-width: 1200px;
	margin: auto;
	background: salmon;
	color: white;
	font-size: 34px;
	text-align: center;
	padding: 20px;
}

button {
	background-color: white;
	color: salmon;
	font-size: 20px;
	padding: 0 24px;
	line-height: 32px;
	height: 32px;
}

input {
	height: 44px;
	line-height: 44px;
	padding: 0 16px;
	outline: none;
	border: none;
	border-radius: 4px;
	width: 300px;
}

